<!DOCTYPE html>
<html>
<head>
	<title>BMI CALCULATOR</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container" class="align-middle">
<body bgcolor="#E6E6FA">
<label>
	<form action="\" method="post">
		<h1>BMI CALCULATOR</h1>
		<div class="form-group" class="form-control">
		<p>GENDER</p><select name="GENDER" required class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			<div class="dropdown-menu" aria-labelledby="GENDER">
			<option value ='0' >MALE</option>
			<option value ='1' >FEMALE</option></div>
		</select>
		</div>
		<div class="form-group">
		<p>HEIGHT(fts):<input type="text" class="form-control" name="HEIGHT" id="HEIGHT" value="{{HEIGHT}}" placeholder="  " required  ></p>
		</div>
		<div class="form-group" class="form-control">
		<p>WEIGHT(kgs):<input type="text" class="form-control" name="WEIGHT" id="WEIGHT" value="{{WEIGHT}}" placeholder=" " required ></p><br>
		</div>
		<div class="form-group">
		<p>ALGORITHM</p>
		<select name="MODELS" required class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		<div class="dropdown-menu" aria-labelledby="ALGORITHM">
  		<option value="Decission Tree classifier">Decission Tree CLASSIFIER</option>
  		<option value="Decission Tree REGRESSOR">Decission Tree REGRESSOR</option>
  	    </div>
		</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
	
</label>
<div>
<h1>INDEX:: {{answer}}</h1>  
<footer>       Visitor Number:-<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7204967&style=0024&nbdigits=5&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
</a>                                     </footer> <br>
<footer>
	<i style="font-size:24px" class="fa">&#xf08c;</i><p>follow@--www.linkedin.com/in/sumanth18131a0363</p>
	

</footer>   
</div>
</body>
</div>
</html>